@using FinalProject.DTO
@using FinalProject.Entities
@model SchoolSupervisorDTO
<a class="btn btn-outline-secondary mb-4" asp-controller="SchoolSupervisor" asp-action="Index">Go Back</a>

<div class="col-md-4">
    <form method="post" action="/SchoolSupervisor/Insert">
        <div class="form-floating">
            <input asp-for="fristName" class="form-control" aria-required="true" />
            <label asp-for="fristName"></label>
            <span asp-validation-for="fristName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="secondName" class="form-control" aria-required="true" />
            <label asp-for="secondName"></label>
            <span asp-validation-for="secondName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="thirdName" class="form-control" aria-required="true" />
            <label asp-for="thirdName"></label>
            <span asp-validation-for="thirdName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="lastName" class="form-control" aria-required="true" />
            <label asp-for="lastName"></label>
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="PhoneNumber" class="form-control" aria-required="true" />
            <label asp-for="PhoneNumber"></label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Email" class="form-control" aria-required="true" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control" aria-required="true" type="password" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger" ></span>
        </div>
        <div class="form-floating">
            <input asp-for="ConfirmPassword" class="form-control" aria-required="true" type="password" />
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="schoolId" class="form-control" aria-required="true">
                <option>School</option>
                @foreach (var school in (List<School>)(ViewBag.schools))
                {
                    <option value="@school.schoolId">@school.schoolName</option>
                }
            </select>
        </div>
        
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add SchoolSupervisor</button>
    </form>
</div>