<div class="landing">
    <div class="container">
        <div class="text">
            <h1>Welcome, To Apprenticeship</h1>
            <p>Here Iam gonna to share everything about Apprenticeship</p>
        </div>
        <div class="image">
            <img src="imgs/landing-image.png" alt="" />
        </div>
    </div>
    <a href="#articles" class="go-down">
        <i class="fas fa-angle-double-down fa-4x"></i>
    </a>
</div>


<div class="work-steps" id="work-steps">
    <h2 class="main-title">How It Works ?</h2>
    <div class="container">
        <img src="imgs/work-steps.png" alt="" class="image" />
        <div class="info">
            <div class="box">
                <img src="imgs/work-steps-1.png" alt="" />
                <div class="text">
                    <h3>Team Leaders</h3>
                    <p>
                        You can now register as a team leader to add everything you need to follow up on all your work
                        as a Team Leaders
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="imgs/work-steps-2.png" alt="" />
                <div class="text">
                    <h3>SchoolSupervisor </h3>
                    <p>
                        You can now register as a SchoolSupervisorto add everything you need to follow up on all your work

                    </p>
                </div>
            </div>
            <div class="box">
                <img src="imgs/work-steps-3.png" alt="" />
                <div class="text">
                    <h3>Student</h3>
                    <p>
                        You can now register as a Student to add everything you need to follow up on all your work


                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="features" id="features">
    <h2 class="main-title">Features Apprenticeship</h2>
    <div class="container">
        <div class="box quality">
            <div class="img-holder"><img src="imgs/features-01.jpg" alt="" /></div>
            <h2>Quality</h2>
            <p> You will get high quality services</p>

        </div>
        <div class="box time">
            <div class="img-holder"><img src="imgs/features-02.jpg" alt="" /></div>
            <h2>Time</h2>
            <p>You will save time so that you have enough time to complete your tasks </p>

        </div>
        <div class="box passion">
            <div class="img-holder"><img src="imgs/features-03.jpg" alt="" /></div>
            <h2>Services</h2>
            <p>You will benefit from our service over time,at any time</p>

        </div>
    </div>
</div>



