@using FinalProject.DTO
@using FinalProject.Entities
@model Objective
<a class="btn btn-outline-secondary mb-4" asp-controller="Objective" asp-action="Index">Go Back</a>

<div class="col-md-4">
    <form method="post" action="/Objective/Edited?objectiveId=@Model.objectiveId">
        <div class="form-floating">
            <input asp-for="objectiveName" class="form-control" aria-required="true" value="@Model.objectiveName"/>
            <label asp-for="objectiveName"></label>
            <span asp-validation-for="objectiveName" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Edit Objective</button>
    </form>
</div>